@font-face {
  font-family: 'Parangon';
  src: url('/build/fonts/parangon_530c.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Regular';
  src: url('/build/fonts/Futura Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;


}
@font-face {
  font-family: 'PTSans-Caption';
  src: url('/build/fonts/PTSans-Caption.woff') format('woff');
  font-weight: normal;
  font-style: normal;


}
@font-face {
  font-family: 'MyriadPro';
  src: url('/build/fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;


}
@font-face {
  font-family: 'Helvetica';
  src: url('/build/fonts/HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;


}